<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Software Engineer from Christchurch New Zealand.">
    <meta name="author" content="Hendrik Braasch">
    <meta name="keywords"
        content="Hendrik Braasch, Software Developer, web developement, software engineer, developer, website, hendrik, braasch, christchurch, new zealand">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/what-i-offer.css">

    <title>Hendrik Braasch - Systems Analyst</title>
</head>

<body>
    {{ block "main" . }}
    {{ end }}
    <footer class="has-text-centered" id="footer">
        <div>
            &copy; Hendrik Braasch 2025
        </div>
    </footer>
</body>